*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */
.header{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #053B50;
    border-bottom: solid #EEEEEE;
}

ul {
    list-style: none;
    width: 100%;
}

ul li {
    display: inline-block;
    position: relative;
    margin: auto 8px;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    animation: colorChange 2s ;
    
}

ul li a:hover{
    text-decoration: overline;
    animation: colorChange 2s ;
}

@keyframes colorChange {
    0%{
        
    }
    100%{
        color: #EEEEEE;
    }
}

ul li:hover ul.dropdown{
    display: block;
}

.navbar{
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    font-size: 1.4em;
    font-weight: 900;
    text-decoration: none;
    color: #64CCC5;
}

@media (max-width: 1015px) {
    .navbar{
        display: none;
    }
}
.logo{
    width: 100px;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 60px;
    padding: 5px;
    border: solid #EEEEEE;
    border-radius: 30%;
    overflow: visible;
}

.social-media{
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: center;
    width: 20%;
}

.social-media a img{
    width: 60px;
    padding: 2px;
    border: solid #EEEEEE;
    border-radius: 30%;
    overflow: visible;
}

.shop{
    width: 100px;
    display: flex;
    justify-content: center;
}

.shop img{
    width: 60px;
    margin-right: 5px;
    padding: 5px;
    border: solid #EEEEEE;
    border-radius: 30%;
    overflow: visible;
}


