<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karmine-Clone</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="header">
                <div class="logo">
                    <img src="../images/Karmine_Corp_logo.svg.png" alt="Logo Karmine Corp">
                </div>
                <div class="navbar">
                    <a href="">Accueil</a>
                    <a href="">Kcorp</a>
                    <a href="">Esport</a>
                    <a href="">Ultras</a>
                    <a href="">Partenaires</a>
                    <a href="">Boutique</a>
                </div>  
                <div class="social-media">
                    <a href=""><img src="../images/icons8-twitter-50.png" alt="Logo Twitter"></a>
                    <a href=""><img src="../images/icons8-instagram-50.png" alt="Logo Instagram"></a>
                    <a href=""><img src="../images/icons8-tiktok-50.png" alt="Logo Tiktok"></a>
                    <a href=""><img src="../images/icons8-youtube-50.png" alt="Logo Youtube"></a>
                </div>
                <div class="shop">
                    <img src="../images/icons8-line-24.png" alt="Logo shop">
                </div>
            </div>
        </nav>
    </header>
</body>
</html>