<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karmine-Clone</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="header">
                <div class="logo">
                    <a href="#"><img src="../images/Karmine_Corp_logo.svg.png" alt="Logo Karmine Corp"></a>
                </div>
                <div class="menu">
                    <img src="../images/icons8-menu-50.png" alt="Menu">
                </div>
                <div class="navbar">
                    <ul>
                        <li><a href="../components/index.html">Accueil</a></li>
                        <li><a href="">Kcorp</a></li>
                        <li>
                            <a href="">Esport ></a>
                            <ul class="dropdown">
                                <li><a href="">League Of Legends</a></li>
                                <li><a href="">Valorant</a></li>
                                <li><a href="">Valorant GC</a></li>
                                <li><a href="">Rocket League</a></li>
                                <li><a href="">SmashBros Ultimate</a></li>
                                <li><a href="">TeamFight Tactiks</a></li>
                                <li><a href="">Trackmania</a></li>
                            </ul>
                        </li>
                        <li><a href="">Ultras</a></li>
                        <li><a href="">Partenaires</a></li>
                        <li>
                            <a href="">Boutique ></a>
                            <ul class="dropdown">
                                <li><a href="">KCX3</a></li>
                                <li><a href="">Légende du club</a></li>
                                <li><a href="">Pro</a></li>
                                <li><a href="">Essentials</a></li>
                                <li><a href="">University</a></li>
                                <li><a href="">Logitech</a></li>
                                <li><a href="">Quersus</a></li>
                                <li><a href="../components/allProduits.html">Tous les produits</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>  
                <div class="social-media">
                    <a href="https://twitter.com/KarmineCorp"><img src="../images/icons8-twitter-50.png" alt="Logo Twitter"></a>
                    <a href="https://www.instagram.com/karminecorp/"><img src="../images/icons8-instagram-50.png" alt="Logo Instagram"></a>
                    <a href="https://www.youtube.com/channel/UCW5Ma_xnAweFIXCGOAZECAA"><img src="../images/icons8-tiktok-50.png" alt="Logo Tiktok"></a>
                    <a href="https://www.tiktok.com/@karmine_corp"><img src="../images/icons8-youtube-50.png" alt="Logo Youtube"></a>
                </div>
                <div class="shop">
                    <a href=""><img src="../images/icons8-line-24.png" alt="Logo shop"></a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-affiche">
            <div class="affiche-main">
                <div class="slider-wrapper">
                    <div class="slider">
                        <img id="slide-1" src="../images/BANNER.png" alt="Produit KCORP">
                        <img id="slide-2" src="../images/BANNER-UNIVERSITY_1.jpg" alt="Produit KCORP">
                        <img id="slide-3" src="../images/BANNER-ULTRA_1.png" alt="Produit KCORP">
                    </div>
                    <div class="slider-nav">
                        <a href="#slide-1"></a>
                        <a href="#slide-2"></a>
                        <a href="#slide-3"></a>
                    </div>
                </div>
            </div>
            <div class="affiche-second">
                <div class="produit">
                    <img src="../images/Tapis5.webp" alt="Tapis de souris">
                    <div class="produit-carac">
                        <p>Collection</p>
                        <p>Tapis G640 Logitech-Karmine Corp</p>
                        <h1>35 €</h1>
                        <button class="but-kop" >Voir le produit</button>
                    </div>
                </div>
                <div class="produit">
                    <img src="../images/Sleeves3.webp" alt="Sleeves">
                    <div class="produit-carac">
                        <p>Collection</p>
                        <p>Manchette KCX3</p>
                        <h1>25 €</h1>
                        <button class="but-kop" >Voir le produit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-sponsors">
            <img src="../images/Orange_logo-1.png" alt="Logo Orange">
            <img src="../images/Michelin_C_H_BlueBG_RGB_0720-01-1.png" alt="Logo Michelin">
            <img src="../images/Chupa-Chups-ok-1.png" alt="Logo ChupaChups">
            <img src="../images/LOGO-LOGITECH-G-1.png" alt="Logo Logitech">
            <img src="../images/LOGO-EKWATEUR-1.png" alt="Logo Ekwateur">
            <img src="../images/REBDULL-CAN-LOGO-1.png" alt="Logo Redbull">
        </div>

        <div class="container-more">
            <div class="more-text">
                <p>Découvrez la KarmineCorp</p>
                <h1>L'équipe qui a crée la différence</h1>
                <p>La Karmine Corp, s’est rapidement imposée comme leader dans le monde de l’esport en France. Créée fin 2020 par Kameto et Prime, l’équipe vise désormais l’international avec un seul objectif : gagner les championnats du monde sur tous les jeux. (League of Legends, Valorant, Rocket League, TFT, Trackmania et Smash Bros Ultimate)</p>
                <button>En savoire plus</button>
            </div>
            <div class="more-img">
            </div>
        </div>

    </main>

    <footer>
        <h1>Notre Instagram</h1>
        <h2>Suis les backstages</h2>
        <div class="container-affiche-insta">
            <a href="https://www.instagram.com/karminecorp/"><img src="../images/DSC02944.jpg" alt="insta-image"></a>           
            <a href="https://www.instagram.com/karminecorp/"><img src="../images/F8VQQuDXsAQLWCN.jpg" alt="insta-image"></a>           
            <a href="https://www.instagram.com/karminecorp/"><img src="../images/F8vZRqzXsAAalxB-e1697817894569.jpg" alt="insta-image"></a>           
            <a href="https://www.instagram.com/karminecorp/"><img src="../images/ferra.jpg" alt="insta-image"></a>           
            <a href="https://www.instagram.com/karminecorp/"><img src="../images/Sans-titre-8.jpg" alt="insta-image"></a>           
        </div>
        <div class="container-footer">
            <div class="container-footer-social">
                <div class="logo">
                    <a href="#"><img src="../images/Karmine_Corp_logo.svg.png" alt="Logo Karmine Corp"></a>
                </div>
                <div class="social-media">
                    <a href="https://twitter.com/KarmineCorp"><img src="../images/icons8-twitter-50.png" alt="Logo Twitter"></a>
                    <a href="https://www.instagram.com/karminecorp/"><img src="../images/icons8-instagram-50.png" alt="Logo Instagram"></a>
                    <a href="https://www.youtube.com/channel/UCW5Ma_xnAweFIXCGOAZECAA"><img src="../images/icons8-tiktok-50.png" alt="Logo Tiktok"></a>
                    <a href="https://www.tiktok.com/@karmine_corp"><img src="../images/icons8-youtube-50.png" alt="Logo Youtube"></a>
                </div>
            </div>
            <div class="container-footer-karmine">
                <ul class="footer-type">
                    <li>Karmine</li>
                    <li><a href="">Kcorp</a></li>
                    <li><a href="">Esport</a></li>
                    <li><a href="">Ultras</a></li>  
                    <li><a href="">Partenaires</a></li>
                    <li><a href="">Presse & Médias</a></li>
                </ul>
            </div>
            <div class="container-footer-esport">
                <ul class="footer-type">
                    <li>Esport</li>
                    <li><a href="">League Of Legends</a></li>
                    <li><a href="">Valorant</a></li>
                    <li><a href="">Valorant GC</a></li>
                    <li><a href="">Rocket League</a></li>
                    <li><a href="">SuperSmash Bros</a></li>
                    <li><a href="">Trackmania</a></li>
                    <li><a href="">Teamfight Tactics</a></li>
                </ul>
            </div>
            <div class="container-footer-legal">
                <ul class="footer-type">
                    <li>Legal</li>
                    <li><a href="">Mentions Légales</a></li>
                    <li><a href="">CGV</a></li>
                    <li><a href="">Confidentialité</a></li>
                    <li>Pour toute demande de support contactes</li>
                    <li><a href="">shop@karminecorp.fr</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="../index.js"></script>
</body>
</html>