<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/produit.css">
</head>
<body>
    <header>
        <nav>
            <div class="header">
                <div class="logo">
                    <a href="#"><img src="../images/Karmine_Corp_logo.svg.png" alt="Logo Karmine Corp"></a>
                </div>
                <div class="menu">
                    <img src="../images/icons8-menu-50.png" alt="Menu">
                </div>
                <div class="navbar">
                    <ul>
                        <li><a href="">Accueil</a></li>
                        <li><a href="">Kcorp</a></li>
                        <li>
                            <a href="">Esport ></a>
                            <ul class="dropdown">
                                <li><a href="">League Of Legends</a></li>
                                <li><a href="">Valorant</a></li>
                                <li><a href="">Valorant GC</a></li>
                                <li><a href="">Rocket League</a></li>
                                <li><a href="">SmashBros Ultimate</a></li>
                                <li><a href="">TeamFight Tactiks</a></li>
                                <li><a href="">Trackmania</a></li>
                            </ul>
                        </li>
                        <li><a href="">Ultras</a></li>
                        <li><a href="">Partenaires</a></li>
                        <li>
                            <a href="">Boutique ></a>
                            <ul class="dropdown">
                                <li><a href="">KCX3</a></li>
                                <li><a href="">Légende du club</a></li>
                                <li><a href="">Pro</a></li>
                                <li><a href="">Essentials</a></li>
                                <li><a href="">University</a></li>
                                <li><a href="">Logitech</a></li>
                                <li><a href="">Quersus</a></li>
                                <li><a href="">Tous les produits</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>  
                <div class="social-media">
                    <a href="https://twitter.com/KarmineCorp"><img src="../images/icons8-twitter-50.png" alt="Logo Twitter"></a>
                    <a href="https://www.instagram.com/karminecorp/"><img src="../images/icons8-instagram-50.png" alt="Logo Instagram"></a>
                    <a href="https://www.youtube.com/channel/UCW5Ma_xnAweFIXCGOAZECAA"><img src="../images/icons8-tiktok-50.png" alt="Logo Tiktok"></a>
                    <a href="https://www.tiktok.com/@karmine_corp"><img src="../images/icons8-youtube-50.png" alt="Logo Youtube"></a>
                </div>
                <div class="shop">
                    <a href=""><img src="../images/icons8-line-24.png" alt="Logo shop"></a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-produit-all-description">
            <div class="slider-description">
                <button id="prev-but">></button>
                <div class="slider-description-img">
                    <img class="ima" src="../images/produits/maillot/DSC06822.webp" alt="">
                    <img class="ima" src="../images/produits/maillot/DSC06836-2 (1).webp" alt="">
                    <img class="ima" src="../images/produits/maillot/DSC06850.webp" alt="">
                    <img class="ima" src="../images/produits/maillot/DSC06873.webp" alt="">
                    <img class="ima" src="../images/produits/maillot/DSC06885.webp" alt="">
                    <img class="ima" src="../images/produits/maillot/DSC06899.webp" alt="">
                    <img class="ima" src="../images/produits/maillot/KC_FLAT_04405.webp" alt="">
                </div>
                <button id="next-but">></button>
            </div>

            <div class="container-images-description">
                <button id="prev-but-hor">></button>
                <img id="first-image" class="ing" src="../images/produits/maillot/DSC06822.webp" alt="">
                <button id="next-but-hor">></button>
            </div>

            <div class="container-all-informations">
                <h1>Jogging lcx 3</h1>
                <p id="stock">En stock</p>
                <p>Jogging Pro Kit officiel pour le KCX 3.</p>
                <p>Une matière fabriquée sur mesure, 100% recyclée et au Portugal</p>
                <h3>55$</h3>
                <div class="container-size-quantity">
                    <div class="container-size">
                        <p>Taille</p>
                        <div class="size-block">
                            <label>
                                <input class="hidden" type="radio" name="taille" checked>
                                <span>XS</span>
                            </label>
                            <label>
                                <input class="hidden" type="radio" name="taille" >
                                <span>S</span>
                            </label>
                            <label>
                                <input class="hidden" type="radio" name="taille" >
                                <span>M</span>
                            </label>
                            <label>
                                <input class="hidden" type="radio" name="taille" >
                                <span>L</span>
                            </label>
                            <label>
                                <input class="hidden" type="radio" name="taille" >
                                <span>XL</span>
                            </label>
                            <label>
                                <input class="hidden" type="radio" name="taille" >
                                <span>XXL</span>
                            </label>
                            <label>
                                <input class="hidden" type="radio" name="taille" >
                                <span>XXXL</span>
                            </label>
                        </div>
                    </div>
                    <div class="container-quantity">
                        <p>Quantité</p>
                        <div class="quantity-but">
                            <button class="plus-moins">-</button>
                            <button class="nbr">1</button>
                            <button class="plus-moins">+</button>
                        </div>
                    </div>
                </div>
                <button id="buy">Ajouter au panier</button>
            </div>
        </div>
    </main>

    <footer>
        <h1>Notre Instagram</h1>
        <h2>Suis les backstages</h2>
        <div class="container-affiche-insta">
            <a href="https://www.instagram.com/karminecorp/"><img src="../images/DSC02944.jpg" alt="insta-image"></a>           
            <a href="https://www.instagram.com/karminecorp/"><img src="../images/F8VQQuDXsAQLWCN.jpg" alt="insta-image"></a>           
            <a href="https://www.instagram.com/karminecorp/"><img src="../images/F8vZRqzXsAAalxB-e1697817894569.jpg" alt="insta-image"></a>           
            <a href="https://www.instagram.com/karminecorp/"><img src="../images/ferra.jpg" alt="insta-image"></a>           
            <a href="https://www.instagram.com/karminecorp/"><img src="../images/Sans-titre-8.jpg" alt="insta-image"></a>           
        </div>
        <div class="container-footer">
            <div class="container-footer-social">
                <div class="logo">
                    <a href="#"><img src="../images/Karmine_Corp_logo.svg.png" alt="Logo Karmine Corp"></a>
                </div>
                <div class="social-media">
                    <a href="https://twitter.com/KarmineCorp"><img src="../images/icons8-twitter-50.png" alt="Logo Twitter"></a>
                    <a href="https://www.instagram.com/karminecorp/"><img src="../images/icons8-instagram-50.png" alt="Logo Instagram"></a>
                    <a href="https://www.youtube.com/channel/UCW5Ma_xnAweFIXCGOAZECAA"><img src="../images/icons8-tiktok-50.png" alt="Logo Tiktok"></a>
                    <a href="https://www.tiktok.com/@karmine_corp"><img src="../images/icons8-youtube-50.png" alt="Logo Youtube"></a>
                </div>
            </div>
            <div class="container-footer-karmine">
                <ul class="footer-type">
                    <li>Karmine</li>
                    <li><a href="">Kcorp</a></li>
                    <li><a href="">Esport</a></li>
                    <li><a href="">Ultras</a></li>  
                    <li><a href="">Partenaires</a></li>
                    <li><a href="">Presse & Médias</a></li>
                </ul>
            </div>
            <div class="container-footer-esport">
                <ul class="footer-type">
                    <li>Esport</li>
                    <li><a href="">League Of Legends</a></li>
                    <li><a href="">Valorant</a></li>
                    <li><a href="">Valorant GC</a></li>
                    <li><a href="">Rocket League</a></li>
                    <li><a href="">SuperSmash Bros</a></li>
                    <li><a href="">Trackmania</a></li>
                    <li><a href="">Teamfight Tactics</a></li>
                </ul>
            </div>
            <div class="container-footer-legal">
                <ul class="footer-type">
                    <li>Legal</li>
                    <li><a href="">Mentions Légales</a></li>
                    <li><a href="">CGV</a></li>
                    <li><a href="">Confidentialité</a></li>
                    <li>Pour toute demande de support contactes</li>
                    <li><a href="">shop@karminecorp.fr</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="../index.js"></script>
</body>
</html>